<%- include('partials/head') %>

   <%- include('partials/header') %>

    <main>

        <div class="product-box">
            <img src="<%= movie.img %>" class='product-img'>
            
            <div class=product-description>
                <p class="p-nome"><%= movie.title %></p>
                <p class="p-descricao"><%= movie.description %></p>
                <p class="p-genero"><%= movie.genre %></p>
                <p class="p-preco"><%= movie.date %></p>

                <% if (user && user.isadmin) { %>

                    <a href="/admin/excluir/<%=movie.id%>" class="btn">Excluir</a>

                <% } %>
            </div>

        </div>
 
    </main>

<%- include('partials/footer') %>