<%- include('partials/head') %> 
<%- include('partials/header') %>

<header>
    <link rel="stylesheet" href="/css/login.css" />
</header>

<main>
<% if(user) { %>

    <% if(user.isadmin) { %>

        <form class="add-product" action="/user/edit/<%= user_searched._id %>" enctype="multipart/form-data" method="POST">
            <input type="email" name="email" value="<%= user_searched.email %>" required />
            <input type="text" name="username" value="<%= user_searched.username %>" required />
            <input type="password" name="password" value="<%= user_searched.password %>" required/>
            <input name="images" type="file" id="image" multiple/>
            <input class="btn" type="submit">             
        </form>
        <a href="/user/delete/<%=user_searched._id%>">Deletar</a>

    <% } else { %>

        <form class="add-product" action="/user/edit/<%= user._id %>" enctype="multipart/form-data" method="POST">
            <input type="email" name="email" value="<%= user.email %>" required />
            <input type="text" name="username" value="<%= user.username %>" required />
            <input type="password" name="password" value="<%= user.password %>" required/>
            <input name="images" type="file" multiple/>
            <input class="btn" type="submit">
        </form>
        <a href="/user/delete/<%=user._id%>">Deletar</a>

    <% } %>

<% } else { %>

    <p> Usuário não encontrado </p>
    
<% } %> 
</main>
<%- include('partials/footer') %>