<%- include('partials/head') %> 
<%- include('partials/header') %>
<head>
    <link rel="stylesheet" href="/css/users.css" />
</head>
<main>
    <% if(users.length > 0) { %>
        <p class="first"> FOLLOWERS </p>
        <div class="box-users">
            <% users.forEach(result => { %>
                <div class="user">
                    <img class="user-image" src="/<%= result.profile_image %>" width="20px" heigh="20px">
                    <div class="user-infos">
                        <a href="/user/<%= result._id %>"><%= result.username %></a> 
                    </div>
                </div>
            <% }) %>
        </div>    
    <% } else { %>

        <p> Nenhum usuário encontrado <p>
            
    <% } %>
</main>
<%- include('partials/footer') %>