<%- include('partials/head') %>
<%- include('partials/header') %>

    <main>

        <% if(movies.length > 0) { %>

        <p> TODOS FILMES </p>
        <div class="grid">

            <% for (movie of movies) { %>
                <a href="/details/<%=movie.id%>" class="card product">
                    <!-- <header class="card-header">
                        <a href="/details/<%=movie.id%>"><h1 class="product-title"><%= movie.title %></h1></a>
                    </header> -->
                    <div class="card-image">
                        <img src="<%= movie.img %>">
                    </div>
                    <!-- <div class="card-content">
                        <h2 class="product-price"><%= movie.date %></h2>
                    </div> -->
                </a>
            <% } %>       

        </div>
        
        <% } else { %>
            <br>
            <h2>Nenhum filme cadastrado</h2>
        <% } %>


    </main>

<%- include('partials/footer') %>