<%- include('partials/head') %> 
<%- include('partials/header') %>

<% if(user) { %>
    <% if(user._id == user_searched._id || user.isadmin) { %>

        <% if(user.isadmin) { %>
            <img src="/<%= user_searched.profile_image %>"  width="20px" heigh="20px">
            <p> <%= user_searched.email %> </p>
            <p> <%= user_searched.username %> </p>
            <p> <%= user_searched.password %> </p>
            <a href="/user/edit/<%= user_searched._id %>">Editar</a>
        <% } else { %>
            <img src="/<%= user_searched.profile_image %>" width="20px" heigh="20px">
            <p> <%= user.email %> </p>
            <p> <%= user.username %> </p>
            <p> <%= user.password %> </p>
            <a href="/user/edit/<%= user._id %>">Editar</a>
        <% } %>
    
    <% } else { %>
    
        <img src="/<%= user_searched.profile_image %>" width="20px" heigh="20px">
        <p><%= user_searched.email %></p>
        <p><%= user_searched.username %></p>
    
    <% } %>
<% } else {%>
    <img src="/<%= user_searched.profile_image %>" width="20px" heigh="20px">
    <p><%= user_searched.email %></p>
    <p><%= user_searched.username %></p>
<% } %>

<%- include('partials/footer') %>
