<%- include('partials/head') %> 
<%- include('partials/header') %>
<header>
    <link rel="stylesheet" href="/css/movie.css" />
</header>
    <main> 
        <div class="movie-box">
            <% if(user) { %>
                <% if(user._id == user_searched._id || user.isadmin) { %>

                    <% if(user.isadmin) { %>
                        <div class="image-box">
                            <img class="movie-img" src="/<%= user_searched.profile_image %>">
                        </div> 
                        <div class="movie-details">
                            <p> <%= user_searched.email %> </p>
                            <p> <%= user_searched.username %> </p>
                            <p> <%= user_searched.password %> </p>
                        </div>
                        <div class="btns">
                            <a class="btn" href="/user/edit/<%= user_searched._id %>">Editar</a>
                            <% if(user._id != user_searched.id) { %>
                                <% if(user.following.indexOf(user_searched.id) == -1) { %>
                                    <a class="btn" href="/user/follow/<%= user_searched._id %>">Seguir</a> <br>
                                <%} else { %>
                                    <a class="btn" href="/user/unfollow/<%= user_searched._id %>">Deixar de seguir</a> <br>
                                <% } %>
                                <a class="btn" href="/user/<%= user_searched._id %>/followers">FOLLOWERS</a> <br>
                                <a class="btn" href="/user/<%= user_searched._id %>/following">FOLLOWING</a> <br>
                            <% } %>
                        </div>
                    <% } else { %>
                        <div class="image-box">
                            <img class="movie-img" src="/<%= user.profile_image %>">
                        </div>
                        <div class="movie-details">
                            <h2> <%= user.username %> </h2>
                            <div class="movie-subdetails">
                                <p> <%= user.email %> </p>
                                <p> <%= user.password %> </p>
                            </div>
                        </div>
                        <div class="btns">
                            <a class="btn" href="/user/edit/<%= user._id %>">Editar</a>
                            
                            <% if(user._id != user_searched.id) { %>
                                <% if(user.following.indexOf(user_searched.id) == -1) { %>
                                    <a class="btn" href="/user/follow/<%= user_searched._id %>">Seguir</a> <br>
                                <%} else { %>
                                    <a class="btn" href="/user/unfollow/<%= user_searched._id %>">Deixar de seguir</a> <br>
                                <% } %>
                                <a class="btn" href="/user/<%= user_searched._id %>/followers">FOLLOWERS</a> <br>
                                <a class="btn" href="/user/<%= user_searched._id %>/following">FOLLOWING</a> <br>
                            <% } %>
                        </div>
                    <% } %>
                
                <% } else { %>
                    <div class="image-box">
                        <img class="movie-img" src="/<%= user_searched.profile_image %>" width="20px" heigh="20px">
                    </div>
                    <div class="movie-details">
                        <h2><%= user_searched.username %></h2>
                        <div class="movie-subdetails">
                            <p><%= user_searched.email %></p>
                        </div>
                    </div>    
                    <div class="btns">
                        <% if(user._id != user_searched.id) { %>
                            <% if(user.following.indexOf(user_searched.id) == -1) { %>
                                <a class="btn" href="/user/follow/<%= user_searched._id %>">Seguir</a> <br>
                            <%} else { %>
                                <a class="btn" href="/user/unfollow/<%= user_searched._id %>">Deixar de seguir</a> <br>
                            <% } %>
                            <a class="btn" href="/user/<%= user_searched._id %>/followers">FOLLOWERS</a> <br>
                            <a class="btn" href="/user/<%= user_searched._id %>/following">FOLLOWING</a> <br>
                        <% } %>
                    </div>
                <% } %>
            <% } else { %>
                <div class="image-box">
                    <img class="movie-img" src="/<%= user_searched.profile_image %>" width="20px" heigh="20px">
                </div>
                <div class="movie-details">
                    <h2><%= user_searched.username %></h2>
                    <div class="movie-subdetails">
                        <p><%= user_searched.email %></p>
                    </div>
                </div>
                <div class="btns">
                    <a class="btn" href="/user/<%= user_searched._id %>/followers">FOLLOWERS</a> <br>
                    <a class="btn" href="/user/<%= user_searched._id %>/following">FOLLOWING</a> <br>
                </div>  
            <% } %>
        </div>
</main>
<%- include('partials/footer') %>
