<%- include ('partials/head') %>
<%- include ('partials/header') %>

    <% if(user._id == user_searched._id) { %>

        <form action="/user/<%= user._id %>?_method=PUT" method="POST">
            <input type="email" name="email" value="<%= user.email %>" required>
            <input type="text" name="username" value="<%= user.username %>" required>
            <input type="password" name="password" value="<%= user.password %>" required>
            <button> Edit </button>
        </form>

        <form action="/user/<%= user._id %>?_method=DELETE" method="POST">
            <button> Delete </button>
        </form>
        
    <% } else { %>

        <p><%= user_searched.email %></p>
        <p><%= user_searched.username %></p>

    <% } %>    

<%- include ('partials/footer') %>