<%- include('partials/head') %> 
<%- include('partials/header') %>

<% if(movies || users) { %>


    <% if(movies) { %>
        <head>
            <link rel="stylesheet" href="/css/movies.css" />
        </head>
        <main>
        <p> Exibindo resultados para <%= searched %> <p> 
        <div class="grid">

            <% for (movie of movies) { %>
                <a href="/details/<%=movie.id%>" class="card product">
                    <div class="card-image">
                        <img src="<%= movie.img %>">
                    </div>
                </a>
                    <!-- <div class="card-actions"> -->
                        <!-- <% if(user){ %>
                            
                            <% if(user.watchedMovies.indexOf(movie.id) == -1) { %>
                                <a href="/watched/<%= user._id %>/<%= movie._id %>" class="btn">Visto</a>
                            <%} else { %>
                                <a href="/removeWatched/<%= user._id %>/<%= movie._id %>" class="btn">Remover</a>
                            <% } %>
                            
                            <% if(user.watchlist.indexOf(movie.id) == -1) { %>
                                <a href="/watchlist/<%= user._id %>/<%= movie._id %>" class="btn">Watchlist</a>
                            <%} else { %>
                                <a href="/removeWatchlist/<%= user._id %>/<%= movie._id %>" class="btn">Remover</a>
                            <% } %>
                             -->
                        <% } %>
                    <!-- </div> -->
            
            <% } %>   

        </div>
    </main>
    <% } %>

    <% if(users) { %>
        <header>
            <link rel="stylesheet" href="/css/users.css" />
        </header>
        <main>
            <p class="first"> Exibindo resultados para <%= searched %> <p> 
            <div class="box-users"> 
            <% users.forEach(result => { %>
                <div class="user">
                <img class="user-image" src="/<%= result.profile_image %>" width="20px" heigh="20px">
                <div class="user-infos">
                    <a href="/user/<%= result._id   %>"><%= result.username %></a>
                    <!-- <div class="btns">
                        <% if(user) { %>
                            <% if(user._id != result.id) { %>
                                <% if(user.following.indexOf(result.id) == -1) { %>
                                    <a class="btn" href="/user/follow/<%= result._id %>">Seguir</a> <br>
                                <%} else { %>
                                    <a class="btn" href="/user/unfollow/<%= result._id %>">Deixar de seguir</a> <br>
                                <% } %>
                            <% } %>
                        <% } %> 
                    </div> -->
                </div>
            </div>
                </div>
                
            <% }) %>
            </div>
        </main>       
    <% } %>
<% } else { %>

    <p>Nenhum resultado encontrado para <%= searched %> 

<% } %>

<%- include('partials/footer') %>            