<%- include('partials/head') %>
<%- include('partials/header') %>

   <main>
        <h2>Filmes</h2>

        <% if(movies.length > 0) { %>

        <div class="grid">
            
            <% for (movie of movies) { %>

            <a href="/details/<%=movie.id%>" class="card product">
                    <!-- <header class="card-header">
                        <a href="/details/<%=movie.id%>"><h1 class="product-title"><%= movie.title %></h1></a>
                    </header> -->
                    <div class="card-image">
                        <img src="<%= movie.img %>">
                    </div>
                    <!-- <div class="card-content">
                        <h2 class="product-price"><%= movie.date %></h2>
                    </div> -->
                </a>
               <a href="/removeWatched/<%=user._id%>/<%=movie._id%>" class="btn">Remover</a>
                    
                
            <% } %>
            <% } else { %>
                <br>
                <h2>Nenhum filme na lista</h2>
            <% } %>       
        </div>

    </main>

    <%- include('partials/footer') %>