<head>
  <link rel="stylesheet" href="/css/header.css" />
</head>
<body>
<header class="main-header">

  <nav class="main-header-nav">
    
    <!-- itens da esquerda -->
    <ul class="main-header-list main-header-list-left">

      <a href="/"><li class="main-header-item">HOME</li></a>

      <% if(user) {%>
          <a href="/user/<%=user._id%>"><li class="main-header-item">PROFILE</li></a>
          <a href="/users"><li class="main-header-item">USERS</li></a>
          <a href="/user/<%= user._id %>/following"><li class="main-header-item">FOLLOWING</li></a>
          <a href="/user/<%= user._id %>/followers"><li class="main-header-item">FOLLOWERS</li></a>
      <% } %>
    </ul>

    <!-- itens da direita -->
    <ul class="main-header-list-right">
   
    <ul class="main-header-list ">

      <% if (!user) { %>

          <a href="/login"><li class="main-header-item">SING IN</li></a>
          <a href="/signup"><li class="main-header-item">CREATE ACCOUNT</li></a>
          <a href="/users"><li class="main-header-item">USERS</li></a>
          

      <% } else if (user && user.isadmin) { %>

          <a href="/watchedMovies/<%= user._id %>"><li class="main-header-item">WATCHED LIST</li></a>
          <a href="/watchMovies/<%= user._id %>"><li class="main-header-item">WATCH LIST</li></a>
          <a href="/admin/addLots"><li class="main-header-item">ADD RANDOM MOVIE</li></a>
          <a href="/admin/addMovie"><li class="main-header-item">ADD MOVIE</li></a>
          <a href="/logout"><li class="main-header-item">LOG OUT</li></a>

      <% } else if (user && !user.isadmin) { %>

          <a href="/watchedMovies/<%= user._id %>"><li class="main-header-item">WATCHED LIST</li></a>
          <a href="/watchMovies/<%= user._id %>"><li class="main-header-item">WATCH LIST</li></a>
          <a href="/logout"><li class="main-header-item">LOG OUT</li></a>

      <% } %>
    </ul>
    <li class="main-header-item-search">
      <form action="/search" method="POST">
        <input name="search" id="search" class="search-input" placeholder="">
        <input type="image" name="submit" class="search-img" src="/images/lupa.png" alt="Submit">
      </form>
    </li>
  </ul>
  </nav>
</header>
